html, body
    -webkit-perspective 2000px
    margin 0
    overflow hidden
    height 100%
    font-family "Helvetica Neue", Helvetica, Arial, sans-serif
    -webkit-user-select none

    &.mousedown
        cursor -webkit-grabbing

// copied from Q42 intranet header
header
    background-color #111
    line-height 42px
    height 50px
    color white
    padding 0 10px
    -webkit-font-smoothing antialiased

    img
        margin 0 5px 0 0
        width 23px
        height 35px
        vertical-align middle

    h1
        color #8cd600
        display inline-block
        height 42px
        padding 0 8px
        font 17.5px 'Merriweather Sans', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif

    #login
        float right

#floorplan
    position relative

    img
        -webkit-user-select none
        width 100%
        opacity .5
        -webkit-filter grayscale(1)
        -webkit-animation fadeIn .4s cubic-bezier(0.175,.885,.335,1.25)

nav
    display inline-block

    a
        color #999
        font-size smaller
        margin 0 10px 0 0

        &.selected
            color white
            text-decoration none

        &.button
            border-radius 5px
            padding 3px 10px
            background #333

#qers
    background #2a2a2a
    height 120px
    box-shadow 0 1px 1px rgba(50,50,50,0.5)
    overflow hidden
    padding 4px

    .qer
        width 50px
        height 50px
        background #fe9
        display table
        overflow hidden
        float left
        margin 4px
        cursor -webkit-grab
        background-size cover
        border-radius 50%
        -webkit-transition all cubic-bezier(0.175,.885,.335,1.25) 1s

        &.partner
            display table
            text-align center
            -webkit-transform scale(0.8)

            span
                display table-cell
                vertical-align middle

        &.positioning
            position absolute
            z-index 999
            box-shadow 0 0 4px white
            margin -25px

        // &:not(.dragging)
        //     -webkit-animation fadeIn .4s cubic-bezier(0.175,.885,.335,1.25)
        //     -webkit-animation-fill-mode backwards

        //     for num in (1..50)
        //         &:nth-child({num})
        //             -webkit-animation-delay (num * 0.01) s

#createObject
    position absolute
    z-index 99999
    display table
    width 100%
    height 100%
    top 0
    left 0
    right 0
    bottom 0
    background rgba(0,0,0,.4)
    -webkit-animation fadeIn .4s cubic-bezier(0.175,.885,.335,1.25)
    -webkit-font-smoothing antialiased

    form
        display table-cell
        text-align center
        vertical-align middle
        color white
        input
            padding 3px 10px
            border none
            border-radius 10px
            font 24px "Helvetica Neue", Helvetica, Arial, sans-serif

            &.button
                background-color white

@-webkit-keyframes fadeIn
    from
        opacity 0
        -webkit-transform translateZ(500px)
    to
        opacity 1