html, body
    margin 0
    overflow hidden
    height 100%
    font-family "Helvetica Neue", Helvetica, Arial, sans-serif
    -webkit-user-select none

    &.mousedown
        cursor -webkit-grabbing

// copied from Q42 intranet header
header
    background-color #2a2a2a
    line-height 42px
    height 42px
    color white
    padding 0 10px

    img
        margin 0 5px 0 0
        width 23px
        height 35px
        vertical-align middle

    h1
        color #8cd600
        display inline-block
        height 42px
        padding 0 8px
        font 17.5px 'Merriweather Sans', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif

    #login
        float right

#floorplan
    width 100%

#qers
    background #2a2a2a
    height 120px
    box-shadow 0 1px 1px rgba(50,50,50,0.5)
    overflow hidden
    padding 4px

    .qer
        width 50px
        height 50px
        background #fe9 -webkit-gradient(radial, 20% 10%, 0, 50% 10%, 80, from(rgba(255,250,220,1)), to(rgba(255,238,253,0)));
        display table
        overflow hidden
        float left
        margin 4px
        cursor -webkit-grab
        background-size cover
        -webkit-filter sepia(.7)

        span
            display table-cell
            width 50px
            overflow hidden
            vertical-align middle
            text-align center
            font 11px/1 "Permanent Marker", "Helvetica Neue", Helvetica, Arial, sans-serif

        &.dragging
            position absolute
            z-index 999
            box-shadow 2px 2px 4px rgba(0,0,0,.4)
            margin: -25px